.page {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  background-color: #2A2C2F;
}