.photo-grid {  
    display: grid;
    box-sizing: border-box;
    margin: 92px auto 0;
    padding-bottom: 10px;
    width: 92.5%;
    max-width: 1184px;
    grid-template-columns: repeat(4, calc((100% - 48px) / 4));
    gap: 16px;
    grid-auto-flow: row;
}

@media (max-width: 1200px) {
  .photo-grid {
    width: 90.625%;
    min-width: 720px;
    max-width: 928px;
    grid-template-columns: repeat(3, calc((100% - 24px) / 3));
    gap: 14px;
  }
}

@media (max-width: 800px) {
  .photo-grid {  
    margin: 88px auto 0;
    padding-bottom: 13px;
    width: 93.75%;
    max-width: 720px;
    min-width: 0%;
    grid-template-columns: repeat(2, calc((100% - 16px) / 2));
    gap: 16px;
  }
}

@media (max-width: 450px) {
  .photo-grid {
    margin: 63px auto 0;
    padding-bottom: 14px;
    max-width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 11.9px;
  }
}