.places {  
  display: flexbox;
  flex-direction: column;
  max-width: 75.38vw;
  margin: 0 auto 0;
}

@media (max-width: 1199px) {
  .places {  
    display: flex;
    flex-direction: column;
    min-width: 88.38vw;
    margin: 13.65px auto 0;
  }
}

@media (max-width: 999px) {
  .places {  
    display: flex;
    flex-direction: column;
    min-width: 91.53vw;
    margin: 4px auto 0;
  }
}

@media (max-width: 749px) {
  .places {  
    display: flex;
    flex-direction: column;
    width: unset;
    margin: 0;
  }
}