.place__image {
  grid-area: place__image;
  object-fit: cover;
  object-position: 50% 50%;
  min-width: 35.2vw;
  height: 35.2vw;
}

@media (max-width: 1199px) {
  .place__image {
    width: 42vw;
    height: 42vw;
  }
}

@media (max-width: 999px) {
  .place__image {
    width: 43.221vw;
    height: 43.221vw;
  }
}

@media (max-width: 749px) {
  .place__image {
    /*background-size: cover;
    background-position: center;*/
    min-width: 100%;
    height: auto;
    margin: 0;
  }
}