.lead__title {
  box-sizing: border-box;
  border: 0px;
  max-width: 720px;
  min-height: 200px;
  margin: 0 auto;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

@media (max-width: 749px) {

  .lead__title {
    max-width: 288px;
    min-height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}