.footer__copyright { 
  grid-area: footer__copyright;
  margin: 0;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: 749px) {
  .footer__copyright { 
    margin: 16px auto 0 16px;
    line-height: 14px;
  }
}