.lead__image {
  display: block;
  width: 90.6%;
  max-width: 984px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .lead__image {
    max-width: 1200px;
    min-width: 768px;
  }
}

@media (max-width: 800px) {
  .lead__image {
    min-width: unset;
    width: 100%;
    max-width: 800px;
    margin: 0;
  }
}