.lead__image {
  display: block;
  max-width: 76.88vw;
  height: 48.05vw;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .lead__image {
    max-width: 90.6vw;
    height: 56.64vw;
  }
}

@media (max-width: 999px) {
  .lead__image {
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: auto;
    margin: 0;
  }
}