.lead__image {
  display: block;
  max-width: 75.5vw;
  height: 47.1vw;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .lead__image {
    max-width: 90.6%;
    height: 55.3vw;
  }
}

@media (max-width: 999px) {
  .lead__image {
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: auto;
    margin: 0;
  }
}