.intro {
  width: 90.6%;
  max-width: 984px;
  margin: 8px auto 0px;
  display: grid;
  grid-template-columns: 690px 1fr;
  grid-template-rows: auto auto auto;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    "intro__title ."
    "intro__text ."
    "intro__list .";
}

@media (max-width: 1200px) {
  .intro {
    width: 90.625%;
    min-width: 720px;
    max-width: 928px;
  }
}

@media (max-width: 860px) {
  .intro {
    margin: 8px 24px 0px;
    width: 93.75%;
    max-width: 720px;
    min-width: 0%;
    grid-template-columns: auto;
    grid-template-areas:
      "intro__title"
      "intro__text"
      "intro__list";
  }
}

@media (max-width: 800px) {
  .intro {
    margin: 87px 24px 0px;
  }
}

@media (max-width: 450px) {
  .intro {
    margin: 64px 16px 0px;
    max-width: 90%;
  }
}