.cover {
    display: block;
    margin: 92px 0 0 0;
    padding: 0;
    border: 0;
}

@media (max-width: 800px) {
    .cover {
        margin: 93px 0 0 0;
    }
}

@media (max-width: 780px) {
    .cover {
        margin: 66px 0 0 0;
    }
}