.cover {
    display: block;
    margin: 92px 0 0 0;
    padding: 0;
    border: 0;
}

@media (max-width: 800px) {
    .cover {
        margin-top: 93px;
    }
}

@media (max-width: 780px) {
    .cover {
        margin-top: 92px;
    }
}

@media (max-width: 450px) {
    .cover {
        margin-top: 66px;
    }
}