.cover__background {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  width: 92.6%;
  max-width: 1184px;
  aspect-ratio: 1184 / 740;
  margin: 0 auto;
  background: url(../../../images/__background_1280.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover__background::before {
  content: "";
  background-color: #2A2C2F;
  opacity: .3;
  position: absolute;
  left: auto;
  top: auto;
  min-width: 100%;
  min-height: 100%;
}

.cover__background:hover::before {
  opacity: .8;
  transition: .5s;
}

@media (max-width: 1200px) {
  .cover__background {
    width: 100%;
    margin: 0;
    /*height: 60.6vw;*/
    aspect-ratio: 1024 / 640;
  }
}

@media (max-width: 1000px) {
  .cover__background {
    background-image: url(../../../images/__background_1024.jpg);
    aspect-ratio: 768 / 480;
  }
}

@media (max-width: 750px) {
  .cover__background {
    background-image: url(../../../images/__background_768.jpg);
    aspect-ratio: 320 / 200;
  }
}