.lead__caption {
  display: block;
  max-width: 76.88vw;
  min-height: fit-content;
  margin: 8px auto 92px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .lead__caption {
    max-width: 90.6vw;
  }
}

@media (max-width: 999px) {
  .lead__caption {
    margin: 8px 0 88px 24px;
  }
}

@media (max-width: 749px) {
  .lead__caption {
    margin: 8px 0 64px 16px;
  }
}