.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 12px;
  color: #aaaaaa;
}

@media (max-width: 749px) {
  .place__url-heading {
    margin: 32px 16px 12px;
    max-width: fit-content;
  }
}